.wrapper {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  margin: 5px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.a {
  grid-area: 1/2/2/3;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px yellow;
  }
  25% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 55px yellow,
      0 0 75px yellow;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px yellow;
  }
}

.glow {
  animation-name: glow;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
