<!-- <svg class="chart">
  
  <polyline
     fill="none"
     stroke="#0074d9"
     stroke-width="2"
     points="
       00,120
       20,60
       40,80
       60,20
       80,80
       100,80
       120,60
       140,100
       160,90
       180,80
       200, 110
       220, 10
       240, 70
       260, 100
       280, 100
       300, 40
       320, 0
       340, 100
       360, 100
       380, 120
       400, 60
       420, 70
       440, 80
     "
   />
  
</svg>


 -->
<!-- 
 <img src="data:image/svg+xml;base64,CiAgPHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPgogIDxwb2x5bGluZQogICAgIGZpbGw9Im5vbmUiCiAgICAgc3Ryb2tlPSIjMDA3NGQ5IgogICAgIHN0cm9rZS13aWR0aD0iMiIKICAgICBwb2ludHM9IgogICAgICAgMDAsMTIwCiAgICAgICAyMCw2MAogICAgICAgNDAsODAKICAgICAgIDYwLDIwCiAgICAgICA4MCw4MAogICAgICAgMTAwLDgwCiAgICAgICAxMjAsNjAKICAgICAgIDE0MCwxMDAKICAgICAgIDE2MCw5MAogICAgICAgMTgwLDgwCiAgICAgICAyMDAsIDExMAogICAgICAgMjIwLCAxMAogICAgICAgMjQwLCA3MAogICAgICAgMjYwLCAxMDAKICAgICAgIDI4MCwgMTAwCiAgICAgICAzMDAsIDQwCiAgICAgICAzMjAsIDAKICAgICAgIDM0MCwgMTAwCiAgICAgICAzNjAsIDEwMAogICAgICAgMzgwLCAxMjAKICAgICAgIDQwMCwgNjAKICAgICAgIDQyMCwgNzAKICAgICAgIDQ0MCwgODAKICAgICAiCiAgIC8+Cjwvc3ZnPgogIA=="/> -->

 <img [src]="svgBase64"/>